
.toast-zone {
  color: #4a4a4a;
  text-align: center;
  z-index: 1000;
  position: absolute;
  min-width: 300px;
  left: 50%;
  transform: translate(-50%, 0);
}

.toast {
  opacity: 1;
  transition: opacity .4s ease-in;
  user-select: none; /* not sure if this should be default or not? */
  position: relative;

  /* no background. the user can add it. */
  /* background: #000; */
  /* no padding. the user can add it */
  /* padding: 10px 5px; */
  /* no border. same thing: the user should add it. */
  /* border-top: solid 9px #fff; */
}


@keyframes toasted {
  from { transform: scale(1.3); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
